.py-5{
  background:linear-gradient(to right,rgb(38, 38, 220),rgb(99, 178, 209));
  border-radius: 10px;
  margin: 50px 10px;
}
.row{
  display: flex;
}

.mb-lg-0{
 transition: 0.2s;
}
.mb-lg-0:hover{
  transform: scale(1.1);
  z-index: 2;
  background:linear-gradient(orange,yellow)
}
.card-price{
  font-size: 30px;
}
.period{
  font-size: 10px;
}





  




